<div class="modal fade modal-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 1200px">
        <div class="modal-content">

            <div class="main-card card">
                <div class="card-header">
                    <i class="header-icon lnr-upload icon-gradient bg-plum-plate"></i>
                    Recherche Video
                    <input type="hidden" value="{{ asset('bundles/coavideolibrary/images/not-available.png','coa_videolibrary_host') }}">

                    <div class="ml-auto">
                        <div class="search-wrapper">
                            <div class="input-holder">
                                <input type="text" class="search-input" placeholder="Rechercher une video...">
                                <button class="search-icon"><span></span></button>
                            </div>
                            <button class="close"></button>
                        </div>
                    </div>
                </div>

                <div class="card-body" style="height:470px;overflow: auto;">
                    <div class="row video-container"></div>
                </div>

                <div class="d-block text-right card-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">
                        Quitter
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>