{% for video in videos %}
    <div data-id="{{ video.code }}" class="col-3 mb-3 pl-2 pr-2 video-item">
        <div style="position:relative">
            <img width="100%" src="{{ video.poster|coaBucketBasename(video) }}" alt="">
            <div class="overlay">
                <button class="btn btn-info">
                    Sélectionnez la video
                </button>
            </div>
        </div>
        <div class="text-muted text-center" style="font-size:11px;font-weight: bold;">
            {{ video.originalFilename|coa_videolibrary_truncate(40) }}
        </div>
    </div>
{% endfor %}