<a data-vbtype="iframe" href="{{ path("player_home_video", {'code':video.code}) }}" class="nav-link text-primary venobox">
    <i class="fa fa-play-circle opacity-7"></i> &nbsp; Regarder la video
</a>